requests==2.25.1
numpy
Pillow
keras
matplotlib
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-http-over-ws
jupyterlab-pygments
jupyterlab-widgets
notebook
tensorboard
tensorboard-plugin-wit
tensorflow>=2.8.0
tensorflow-io==0.29.0
tensorflow-datasets
tensorflow-estimator
tensorflow-examples @ git+https://github.com/tensorflow/examples.git
tensorflow-metadata
urllib3
pydantic==1.10.8
setuptools
fastapi==0.88.0
hypercorn==0.14.3
uvicorn==0.20.0
opencv-python==4.5.5.64
opencv-contrib-python>=4.5.5.64
